body {
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  height: 100vh;
  border: 2px solid black;
}

.adjust {
  padding: 0 20px 10px 20px;
  min-width: 300px;
}

.adjust-time {
  padding-left: 20px;
}

.time-container {
  width:300px;
  height:300px;
  border: 2px solid black;
  border-radius: 10%;
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 80px;
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

.arrows {
  font-size: x-large;
}

.arrows:hover {
  cursor: pointer;
  color:red;
}

.control:hover {
  cursor: pointer;
  color:red;
}
